[submodule "thirdpart/tweeny"]
	path = thirdpart/tweeny
	url = https://github.com/mobius3/tweeny.git
[submodule "thirdpart/LightWeightCommon"]
	path = thirdpart/LightWeightCommon
	url = https://github.com/bhlzlx/LightWeightCommon
[submodule "thirdpart/glm"]
	path = thirdpart/glm
	url = https://github.com/g-truc/glm
[submodule "thirdpart/concurrentqueue"]
	path = thirdpart/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
