[submodule "thirdpart/tweeny"]
	path = thirdpart/tweeny
	url = https://github.com/mobius3/tweeny.git
[submodule "thirdpart/LightWeightCommon"]
	path = thirdpart/LightWeightCommon
	url = https://github.com/bhlzlx/LightWeightCommon
[submodule "thirdpart/glm"]
	path = thirdpart/glm
	url = https://github.com/g-truc/glm
[submodule "thirdpart/concurrentqueue"]
	path = thirdpart/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "thirdpart/tinyddsloader"]
	path = thirdpart/tinyddsloader
	url = https://github.com/benikabocha/tinyddsloader
[submodule "thirdpart/opengl_registry"]
	path = thirdpart/opengl_registry
	url = https://github.com/KhronosGroup/OpenGL-Registry/
[submodule "thirdpart/stb"]
	path = thirdpart/stb
	url = https://github.com/nothings/stb
[submodule "thirdpart/imgui"]
	path = thirdpart/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdpart/entt"]
	path = thirdpart/entt
	url = https://github.com/skypjack/entt
